{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<h1>Create a Listing</h1>

<form method="POST">
  <label for="tool">Tool:</label>
  <select name="toolId">
    {% for tool in tools %}
      <option value="{{ tool.id }}">{{ tool.name }}</option>
    {% endfor %}
  </select>

  <label for="Price">Price:</label>
  <input type="number" name="price" id="price"/>
  
  <label for="billingInterval">Billing Interval:</label>
  <select name="billingInterval"> 
    <option value="hourly">Hourly</option>
    <option value="daily">Daily</option>
    <option value="weekly">Weekly</option>
    <option value="forever">Forever</option>
  </select>

  <label for="maxBillingIntervals">Max Billing Interval:</label>
  <input type="number" name="maxBillingIntervals" id="maxBillingIntervals"/>
  
  <button type="submit">Add</button>
</form>

{% endblock %}
