{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<!--enctype="multipart/form-data"-->
<form action="/user/{{user_id}}/tools" method="POST">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name"/>

  <label for="description">Description:</label>
  <input type="text" name="description" id="description"/>

  <label for="owner_id">Owner:</label>
  <input type="text" name="owner_id" id = "owner_id"/>

<div>
  <!--onclick="getString()"-->
  <button type="submit" >Submit</button>
</div>
</form>

<style>
  form div {
    margin-bottom: 10px;
  }
</style>


{% endblock %}