{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<!--enctype="multipart/form-data"-->
<form action="/user/:user_id/newtool" method="POST">
    <div>
      <label for="tool_name">Tool Name:</label>
      <input type="text" id="tool_name" name="tool_name" required>
    </div>
  
    <div>
      <label for="description">Type:</label>
      <input type="text" id="description" name="description" required>
      <!-- <select id="tool_type" name="tool_type" required>
        <option value="">Select a type</option>
        <option value="Aerators">Aerators</option>
        <option value="Aerial Lifts">Aerial Lifts</option>
        <option value="Augers">Augers</option>
        <option value="Climate Control">Climate Control</option>
        <option value="Concrete Tools">Concrete Tools</option>
        <option value="Earth Moving">Earth Moving</option>
        <option value="Fasteners">Fasteners</option>
        <option value="Floor Care">Floor Care</option>
        <option value="General Construction">General Construction</option>
        <option value="Ladders &amp; Scaffolding">Ladders &amp; Scaffolding</option>
        <option value="Lawn Care">Lawn Care</option>
        <option value="Material Handling">Material Handling</option>
        <option value="Paint &amp; Drywall">Paint &amp; Drywall</option>
        <option value="Plumbing &amp; Pumps">Plumbing &amp; Pumps</option>
        <option value="Portable Power">Portable Power</option>
        <option value="Power Tools">Power Tools</option>
        <option value="Pressure Washers">Pressure Washers</option>
        <option value="Rotary/Demolition">Rotary/Demolition</option>
        <option value="Tile Saws">Tile Saws</option>
        <option value="Trailers">Trailers</option>
        <option value="Tree Care">Tree Care</option>
        <option value="Trenchers">Trenchers</option>
        <option value="Welding">Welding</option>
      </select> 
      
    </div>
  
    <div>
      <label for="tool_status">Sell or Rent or Non Active:</label>
      -<input type="text" id="tool_status" name="tool_status" required>

      <input type="radio" id="sell" name="sellOrRent" value="Sell" required>
      <label for="sell">Sell</label>
      <input type="radio" id="rent" name="sellOrRent" value="Rent" required>
      <label for="rent">Rent</label> 
      
    </div>
  
    <div>
      <label for="tool_price">Price:</label>
      <input type="text" id="tool_price" name="tool_price" required>
      <input type="number" id="tool_price" name="tool_price" required>
    </div> 
  -->
    
    <!--
    <div>
      <label for="images">Upload Images:</label>
      <input type="file" id="images" name="toolImages" accept="image/*" multiple>
    </div>
    -->
  
    <div>
      <button type="submit" onclick="getString()">Submit</button>
    </div>
  </form>
  <!--
  <script>
    var radio = document.querySelector('input[name="sellOrRent"]:checked').value
  </script>
-->
  <style>
    form div {
      margin-bottom: 10px;
    }
  </style>


{% endblock %}