{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<!-- getusers.html -->
<form action="/users" method="get">
  <button type="submit">Get Users</button>
</form>
<div style="display: flex; flex-direction: column; gap: 20px;">
  {% for user in users %}
  <div style="background-color: #f1f1f1; padding: 5px; border-radius: 4px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
    <h2>{{ user.first_name }} {{ user.last_name }} {{ user.user_id }} {{ user.active }}</h2>
    <p>Email: {{ user.email }}</p>
    <form action="/users/{{ user.user_id }}/activate" method="post">
      <label for="active">Active</label>
      <input type="checkbox" id="active" name="active" {% if user.active %}checked{% endif %}>
      <button type="submit">Submit</button>
    </form>
  </div>
  {% endfor %}
</div>


{% endblock %}
