{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<body>
<!--Navigation bar-->
<div id="nav"></div>    
<script type="text/babel">
const element = (
<div>
    <nav>
        <label class="logo">ToolShed</label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#tools">Tools</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Log Off</a></li>
        </ul>        
    </nav>
</div>  );
ReactDOM.render(element, document.getElementById('nav'));
</script>
<!--End navigation bar-->
<!--Drop down menu-->
<div id="dropdownmenu"></div>
<script type="text/babel">
const menu = (
    <div>
        <h2>Account Settings</h2>
        <div class="dropdown">
            <button class="dropbtn">Settings</button>
            <div class="dropdown-content">
                <a href="#edit">Edit Account</a>
                <a href="#deactivate">Deactivate Account</a>
            </div>
        </div>
    </div>  
);
ReactDOM.render(menu, document.getElementById('dropdownmenu'));
</script>
</body>

<style>
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
            
li {
    float: left;
}
            
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* style of dropdown button */
.dropbtn {
    background: #0082e6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
    
/* container <div> to position dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
    
/* Dropdown content, hidden */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    
/* Dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
    
/* change color of dropdown on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
    
/* show dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block
}
    
/* background color dropdown button changes when dropdown content shown */
.dropdown:hover .dropbtn {
    background-color: #017edd;
}
</style>
{{ error }}

{% endblock %}

<style>

</style>

