<!DOCTYPE html>
<html>
<!--Need to add a sitewide inherited event listener for notifications-->
<head>
	<link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="/public/reset.css">
	<title>ToolShed | {% block title %}Share your tools!{%endblock%}</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			min-height: 100vh !important;
			margin: 0;
		}

		header {
			z-index: 9999;
		}

		main {
			flex: 1;
			padding: 1em;
		}

		footer {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 1rem;
			background-color: #f2f2f2;
		}
	</style>
	{% block header %}
	<!--Header content-->
	{% endblock %}
</head>

<body>
	<script src="/webpack/runtime.js"></script>
	<script src="/webpack/vendor.js"></script>
	<!--Navigation bar-->
	<header id="nav">
	</header>
	<main>
		{% block body %}
		<!--Body content-->
		{% endblock %}
	</main>
	<footer>
		<!--Footer content-->
	</footer>
	<script type="application/javascript">
		window.__NavBarProps = {
			authUser: {% if authUser %}{{authUser|json}}{% else %}undefined{% endif %}
		};
	</script>
	<script src="/webpack/NavBar.js" type="application/javascript"></script>

</body>

</html>
