{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<form action="/review/new", method="POST">
    <input type="hidden" name="reviewee_id" value="{{ reviewee_id }}">   
    <label for="content">Review</label><br>
    <textarea rows="10" col="80" id="content" name="content"></textarea><br><br>
    <label for="ratings">Ratings</label><br>
    <input type="number" id="ratings" name="ratings" min="0" max="5"><br><br>
    <input type="submit" value="Submit">
</form>

<style>
    form {
        margin-left: 10px;
    }
</style>
{% endblock %}
