{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<form method="GET" action="/listings/search.json">
    <label for="searchQuery">Search Query:</label>
    <input type="text" name="searchQuery" id="searchQuery"/>

    <label for="searchRadius">Search Radius (km):</label>
    <input type="number" name="searchRadius" id="searchRadius"/>

    <label for="userLat">Latitude:</label>
    <input type="number" name="userLat" id="userLat"/>

    <label for="userLon">Longitude:</label>
    <input type="number" name="userLon" id="userLon"/>

    <label for="useUserAddress">Use User Address:</label>
    <input type="checkbox" name="useUserAddress" id="useUserAddress"/>

    <label for="selectedCategory">Selected Category:</label>
    <select name="selectedCategory" id="selectedCategory">
      <option value="category1">Category 1</option>
      <option value="category2">Category 2</option>
      <option value="category3">Category 3</option>
    </select>

    <button type="submit">Search</button>
  </form>
  
{% endblock %}
