{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<div id="root"></div>

<script src="/public/listing.jsx" type="text/babel"></script>

<script type="text/babel">
	const ListingsList = ({listings}) => {
	
		return <div>
			{listings.map(t => <Listing key={t.id} {...t} />)}
            
		</div>;
	};

	const root = ReactDOM.createRoot(document.getElementById('root'));

	const listings = {{ listing|json }};
	console.log(listings);
	root.render(<ListingsList listings={lists} />);
</script>

{% endblock %}
