{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#toollisting">Tool Listing</a></li>
    <li><a href="#logoff">Log off</a></li>
</ul>
</div>

<div class="dropdown">
    <button class="dropbtn">Settings</button>
    <div class="dropdown-content">
        <a href="/edit">Edit Account</a>
    </div>
</div>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
        
li {
    float: left;
}
        
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* style of dropdown button */
.dropbtn {
    background: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* container <div> to position dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content, hidden */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* change color of dropdown on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* show dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block
}

/* background color dropdown button changes when dropdown content shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
</style>

{% endblock %}>

